# While Loop

In [5]:
n = 5
while n > 0 :
    print(n)
    n = n - 1
print('Blastoff!')
print(n)

5
4
3
2
1
Blastoff!
0

# Definite Loop

In [8]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends : 
    print('Happy New Year:', friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [9]:
for i in [5, 4, 3, 2, 1] :
    print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

# Loop through a set

In [11]:
print('Before')
for i in [9, 41, 12, 3, 74, 15] :
    print(i)
print('After')

Before
9
41
12
3
74
15
After

# Finding Largest number

In [12]:
Largest_so_far = -1
print ('Before', Largest_so_far)
for num in [9, 41, 12, 3, 74, 15] :
    if num > Largest_so_far :
        Largest_so_far = num
        print (Largest_so_far, num)
print ('After', Largest_so_far)

Before -1
9 9
41 41
74 74
After 74

In [13]:
zork = 0
print('Before', zork)
for thing in [9, 41, 12, 3, 74, 15] :
    zork = zork + 1
    print(zork, thing)
print('After', zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

# Summing in loop

In [14]:
zork = 0
print('Before', zork)
for thing in [9, 41, 12, 3, 74, 15] :
    zork = zork + thing
    print(zork, thing)
print('After', zork)

Before 0
9 9
50 41
62 12
65 3
139 74
154 15
After 154

# Average

In [15]:
count = 0
sum = 0
print('Before', count, sum)
for value in [9, 41, 12, 3, 74, 15] :
    count = count + 1
    sum = sum + value
    print(count, sum, value)
print('After', count, sum, sum / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

# Filtering

In [17]:
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if value > 20:
        print('Large number',value)
print('After')

Before
Large number 41
Large number 74
After

# Search using Boolean variable

In [18]:
found = False
print('Before', found)
for value in [9, 41, 12, 3, 74, 15] : 
    if value == 3 :
        found = True
        print(found, value)
print('After', found)

Before False
True 3
After True

In [19]:
largest_so_far = -1
print('Before', largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
    if the_num > largest_so_far :
        largest_so_far = the_num
        print(largest_so_far, the_num)
print('After', largest_so_far)

Before -1
9 9
41 41
74 74
After 74

# Searching smallest value

In [21]:
smallest_so_far = -1
print ('Before', smallest_so_far)
for i in [9, 41, 12, 3, 74, 15] :
    if smallest_so_far < i :
        smallest_so_far = i
        print (smallest_so_far , i)
print ('After' , smallest_so_far)

Before -1
9 9
41 41
74 74
After 74

In [24]:
smallest = None
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if smallest is None : 
        smallest = value
    elif value < smallest : 
        smallest = value
    print(smallest, value)
print('After', smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

# IS Operator

In [25]:
smallest = None
print('Before')
for value in [3, 41, 12, 9, 74, 15] :
    if smallest is None : 
        smallest = value
    elif value < smallest : 
        smallest = value
        print(smallest, value)
print('After', smallest)

Before
After 3